
.formpicture{
    background-image: url('../images/cover/cover.jpg') !important;
}

  /* ===================form======================== */
  .myform{
    background-color: rgb(255, 255, 255) !important;
    /* -webkit-box-shadow: 0px 0px 8px 1px rgba(107,107,107,1);
  -moz-box-shadow: 0px 0px 8px 1px rgba(107,107,107,1);
  box-shadow: 0px 0px 8px 1px rgba(107,107,107,1); */
  
    padding: 20px;
    margin: 40px;
  }
.myform
.input-container {
  /* display: -ms-flexbox; IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 2px !important;
  color: #000000 ;


}
.myformedit{
  background-color: rgb(255, 255, 255) !important;
  /* -webkit-box-shadow: 0px 0px 7px 1px rgba(163,163,163,1);
  -moz-box-shadow: 0px 0px 7px 1px rgba(163,163,163,1);
  box-shadow: 0px 0px 7px 1px rgba(163,163,163,1); */
  padding-left: 15px ;
  padding-right: 15px ;
  padding-bottom: 15px ;
  padding-top: 15px ;
  /* box-shadow: 0px 1px 10px #999 ; */
  /* margin-top: 60px ; */
  text-align: center ;

}


.icon {
  padding:2%;
  color: #c91e8dff;
  min-width: 50px;
  text-align: center;
}
.myformpro{
  background-color: rgb(255, 255, 255)  !important;
/* 
  -webkit-box-shadow: 0px 0px 8px 1px rgba(107,107,107,1);
-moz-box-shadow: 0px 0px 8px 1px rgba(107,107,107,1);
box-shadow: 0px 0px 8px 1px rgba(107,107,107,1); */

  padding: 20px;
  margin: 40px;
  
}

.form-control{
  border: 1px solid #888888  !important;
  border-radius: 10px !important;

}
.form-control:hover{
  border: 1px solid  #26172b  !important;
  border-radius: 10px !important;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02) !important;
}

.form-control:focus {
  color:  #26172b ;
  border: 1px solid #B8B6B6;
  box-shadow: inset 1px 2px 4px rgba(12, 54, 47, 0.01), 0px 0px 8px  #26172b !important;
}
.profimg{
  max-width: 700px;
}