.myhome{
    background-image: url('../images/coverpro.png');
    background-repeat: no-repeat;
    padding-top: 500px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    /* margin-top: -60px; */
}
