.myhome{
    background-image: url('../images/coverpro.png');
    background-repeat: no-repeat;
    padding-top: 500px;
    -webkit-background-size: contain;
    -moz-background-size:contain;
    -o-background-size: contain;
    background-size: contain;
    padding-bottom: 240px !important;
    margin-left: -120px;
    margin-right: -120px;

    /* margin-top: -60px; */
}

h3{
  color:  #a1a1a1 !important;
  text-decoration: none ;
  letter-spacing: normal !important;
}