.key{
    color: #26172b !important;
}

.shop{
    margin-left: 130px;
    background-color: rgb(255, 255, 255);
    border:  #26172b solid 2px;
    padding: 5px;
    border-radius: 20px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: large;
}
.shop:hover{
    margin-left: 130px;
    background-color: #c91e8dff !important;
    border: #c91e8dff solid 2px;
    padding: 5px;
    border-radius: 20px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: large;
    color: white;
}