.paymentimg{
    max-width: 500px!important;
    min-width: 500px !important;
}

.paystep{
    background-color: #fffef9 ;
    /* padding: 10px ; */
    padding: 0px;
  
  }
  .paystep
  h4{
      text-align: center;
  }
  .paycontainer{
      background-color: white !important;
  }