.paymentimg{
    max-width: 100% !important;
    min-width: 100% !important;
    margin-left: 30px !important;
}
.pay{
    margin: -60px !important;
}
.paystep{
    background-color: #fffef9 ;
    /* padding: 10px ; */
    margin-top: 4% !important;
    padding: 0px;
    margin-bottom: 20% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
  
  }
  .paystep
  h4{
      text-align: center;
  }