/*--------------------------------------------------------------
# Table
----------------------------------------------------------------*/

#customers {
    /* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif ; */
    width: 100%;
    letter-spacing: normal ;
    background-color: rgb(255, 255, 255);
    border-radius: 20px !important;

  }
  
  #customers td{
    border:none !important;
    padding: 5px;
  }

  #customers tr:nth-child(even){  background-color: #f6e0ff79;}
  
  #customers tr:hover {background-color: rgb(255, 249, 253);}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: #6d129ff0 ;

    color: #ffffff;
    border: none !important;
  }
  h1{
    text-align: center !important;
    color: #6d129ff0 !important;
  }