.work
img{
  max-width: 1050px !important;
  min-width: 1050px !important;
  max-height: 250px !important;
  min-height: 250px !important;
  margin-left: 140px;
 
}
.work{
  background-color: white !important;
  margin-left: -120px;
  margin-right: -120px;
}
