*{
  text-transform: none !important;
  font-family: 'Ramabhadra', sans-serif;
  letter-spacing: 1px !important;

  border-color: rgb(184, 184, 184) !important;
}

body{
margin: 0% !important;
background-color: rgb(255, 255, 255) !important;
}
main {
  min-height: 80vh;
}

h4 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

h1 {
  color: #1e002c!important;
}

h2 {
  font-weight: bolder !important;
}
section{
  padding-top: 30px;
  padding-bottom: 30px;
}
.btn-primary{
  background-color: #ffffff !important;
  color:  #c91e8dff  !important;
  border:1px solid#c91e8dff !important;
  border-radius: 5px !important;
  font-size: medium !important;
  padding: 5px !important;

}
.btn-primary:hover{
/* background-color:  #c91e8dff !important; */
background: #c91e8dff;
background: linear-gradient(90deg, #c91e8dff 0%, #6d129ff0 100%);
color: #ffffff !important;
border: #ffffff !important;
border-radius: 5px !important;
font-size: medium !important;
padding: 5px !important;
border:1px solid transparent !important;
}
.paystep{
  background-color: #fffef9 ;
  /* padding: 10px ; */
  margin-top: 4% !important;
  padding: 20px;
  margin-bottom: 20% !important;
  margin-left: 10% !important;
  margin-right: 10% !important;

}
.paystep
h4{
    text-align: center;
}
a{
  text-decoration: none;
  list-style: none;
}
a:hover{
  text-decoration: none !important;
  font-style: normal !important;
  list-style: none;
}
.img-responsive {
  display: none;
}

@media only screen and (min-width: 376px) and (max-width: 768px) {
  .page-head {
    font-size: 18px;
    /* margin-top: -20px; */
    padding: 0px;
  }
  .btn-primary{
    padding: 0 !important;
  }
  .img{
    max-width: 50% !important;
  }
}

@media only screen and (min-width: 376px) and (max-width: 768px) {
  .container-gallery .vertical-buttons {
    display: flex;
    align-items: center;
    /* display: block; */
  }
  .btn-primary{
    background-color: #ffffff !important;
    color:  #c91e8dff  !important;
    border:1px solid#c91e8dff !important;
    font-weight: bold !important;
    border-radius: 5px !important;
    font-size: medium !important;
    padding: 5px !important;
  
  }
  .btn-primary:hover{
  background-color:  #c91e8dff !important;
  color: #ffffff !important;
  border: #ffffff !important;
  font-weight: bold !important;
  border-radius: 5px !important;
  font-size: medium !important;
  padding: 5px !important;
  border:1px solid transparent !important;
  }
  .myhead{
    background-color: #c91e8dff;
    background-size: cover;
  }
  .img{
    max-width: 50% !important;
  }
  .col-6{
    max-width: 100% !important;
  }
  .workflow{
    max-width: 25% !important;
    min-width: 25% !important;

  }
  
}
