*{
  text-transform: none !important;
}

main {
  min-height: 80vh;
}

h4 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.2rem !important;
  padding: 0.5em 0;
}
section{
  padding-top: 30px;
  padding-bottom: 30px;
}
.btn-primary{
  background-color: #d4d4d4 !important;
  color: #4c3e3e  !important;
  border:2px #4c3e3e !important;
  font-weight: bold !important;
  border-radius: 10px !important;

}
.btn-primary:hover{
background-color: #4c3e3e !important;
color: #d4d4d4 !important;
border: #d4d4d4 !important;
font-weight: bold !important;
border-radius: 10px !important;
}