*{
  text-transform: none !important;
  font-family: 'Ramabhadra', sans-serif;
  
}
body{
margin: 0% !important;
}
main {
  min-height: 80vh;
}

h4 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

h1 {
  color: #00272c!important;
}

h2 {
  font-weight: bolder !important;
}
section{
  padding-top: 30px;
  padding-bottom: 30px;
}
.btn-primary{
  background-color: #ffffff !important;
  color:  #e72e77  !important;
  border:2px solid#e72e77 !important;
  font-weight: bold !important;
  border-radius: 10px !important;
  font-size: medium !important;
  padding: 5px !important;

}
.btn-primary:hover{
background-color:  #e72e77 !important;
color: #ffffff !important;
border: #ffffff !important;
font-weight: bold !important;
border-radius: 10px !important;
font-size: medium !important;
padding: 5px !important;
border:2px solid transparent !important;
}
.paystep{
  background-color: #fffef9 ;
  /* padding: 10px ; */
  margin-top: 4% !important;
  padding: 20px;
  margin-bottom: 20% !important;
  margin-left: 10% !important;
  margin-right: 10% !important;

}
.paystep
h4{
    text-align: center;
}
a{
  text-decoration: none;
  list-style: none;
}
a:hover{
  text-decoration: none !important;
  font-style: normal !important;
  list-style: none;
}